/* style.css */

#board {
    display: flex;
    flex: 1;
}

#calculator, #digits, #signs, #equal {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#row1, #row2, #row3, #row4 {
    display: flex;
}

button {
    flex: 1;
}

#display {
    background-color: lightgray;
    border: 1px solid black;
    width: 130px;
    padding: 5px;
    margin: 5px;
}

#clear {
    width: 130px;
    margin: 5px;
}

